<div class="flex items-center gap-1 p-1 rounded-lg border border-gray-950">
    @for (item of btnItems; track $index) {
        <button (click)="onSelect(item)" type="button" class="{{ btnSelected() == item ? 'bg-gray-900 text-white shadow-md' : 'bg-transparent text-gray-900 hover:bg-gray-300' }} flex items-center gap-1 px-2 py-2 text-sm font-medium rounded-lg text-center dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
            <i class="material-icons">{{ item.icon}}</i>
            {{item.label}}
        </button>
    }
</div>