<!-- breadcumbs -->
<app-bread-crumbs [crumbs]="crumbs"></app-bread-crumbs>

<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
   <!-- primaries sectons -->
   <div class="grid grid-cols-5 gap-4 mb-4">
      <!-- statistics section-->
      <div class="col-span-3 p-3 border border-gray-950 rounded-xl bg-gray-50 dark:bg-gray-800">
         <app-stat-section></app-stat-section>
      </div>
      <!-- agenda section -->
      <div class="col-span-2 flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800">
         <app-agenda-section></app-agenda-section>
      </div>
   </div>
   <!-- secondaries sections -->
   <div class="grid grid-cols-3 gap-4 mb-4">
      <!-- overview section -->
      <div class="col-span-2 flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800">
         <app-overview-section></app-overview-section>
      </div>
      <!-- online user section -->
      <div class="col-span-1 flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800">
         <app-online-user-section></app-online-user-section>
      </div>
   </div>
 </div>