<div class="p-2 px-4 w-full shadow-lg h-full overflow-auto text-sm text-gray-400 bg-gray-950">
    <!-- calendar -->
    <div class="p-2 rounded-t">
        <!-- head -->
        <div class="px-2 flex items-center justify-between">
            <span  tabindex="0" class="focus:outline-none  text-base font-bold">October 2020</span>
            <div class="flex items-center">
                <button aria-label="calendar backward" class="focus:text-gray-400 hover:text-gray-400">
                    <i class="material-icons-outlined p-1">chevron_left</i>
            </button>
            <button aria-label="calendar forward" class="focus:text-gray-400 hover:text-gray-400 ml-3"> 
                <i class="material-icons-outlined p-1">chevron_right</i>
            </button>
            </div>
        </div>

        <!-- content -->
        <div class="flex items-center justify-between pt-2 overflow-x-auto">
            <table class="w-full">
                <!-- weeks -->
                <thead>
                    <tr>
                        <th>
                            <div class="w-full flex justify-center">
                                <p class="text-base font-medium text-center">Mo</p>
                            </div>
                        </th>
                        <th>
                            <div class="w-full flex justify-center">
                                <p class="text-base font-medium text-center">Tu</p>
                            </div>
                        </th>
                        <th>
                            <div class="w-full flex justify-center">
                                <p class="text-base font-medium text-center">We</p>
                            </div>
                        </th>
                        <th>
                            <div class="w-full flex justify-center">
                                <p class="text-base font-medium text-center">Th</p>
                            </div>
                        </th>
                        <th>
                            <div class="w-full flex justify-center">
                                <p class="text-base font-medium text-center">Fr</p>
                            </div>
                        </th>
                        <th>
                            <div class="w-full flex justify-center">
                                <p class="text-base font-medium text-center">Sa</p>
                            </div>
                        </th>
                        <th>
                            <div class="w-full flex justify-center">
                                <p class="text-base font-medium text-center">Su</p>
                            </div>
                        </th>
                    </tr>
                </thead>
                <!-- dates number -->
                <tbody>
                    <tr>
                        <td class="pt-1">
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                        </td>
                        <td class="pt-1">
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                        </td>
                        <td class="pt-1">
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">1</p>
                            </div>
                        </td>
                        <td class="pt-1">
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">2</p>
                            </div>
                        </td>
                        <td class="pt-1">
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base">3</p>
                            </div>
                        </td>
                        <td class="pt-1">
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base">4</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">5</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">6</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">7</p>
                            </div>
                        </td>
                        <td>
                            <div class="w-full h-full">
                                <div class="flex items-center justify-center w-full rounded-full cursor-pointer">
                                    <a  role="link" tabindex="0" class="focus:outline-none  focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:bg-indigo-500 hover:bg-indigo-500 text-base w-8 h-8 flex items-center justify-center font-medium text-white bg-indigo-700 rounded-full">8</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">9</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">10</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">11</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">12</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">13</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">14</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">15</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">16</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">17</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">18</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">19</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">20</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">21</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">22</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">23</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">24</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">25</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">26</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">27</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">28</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">29</p>
                            </div>
                        </td>
                        <td>
                            <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                                <p class="text-base font-medium">30</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- tasks -->
    <div class="max-w-lg mx-auto my-3 text-gray-200 bg-gray-700 p-4 rounded-md shadow-md">
        <div class="flex flex-row justify-between items-center">
            <div>
                <h1 class="text-lg font-medium">Tasks list</h1>
            </div>
            <div class="inline-flex space-x-2 items-center">
                <div class="cursor-pointer p-2 bg-gray-950 rounded-md flex gap-1 items-center hover:shadow">
                    <i class="material-icons-outlined text-sm">sort</i>
                    <span class="text-sm hidden md:block">Latest</span>
                </div>
            </div>
        </div>
        <p class="">Hello, here are your latest tasks</p>

        <div id="tasks" class="my-5 flex flex-col gap-2 max-h-60 overflow-y-auto">
            <div class="relative bg-gray-950 flex items-center flex-nowrap gap-2 hover:bg-gray-900 rounded p-3">
                <span class="absolute p-1 rounded border border-gray-900 right-1 -top-3 shadow px-2 bg-gray-700">03 jan 2024</span>
                <span class="bg-green-500 h-6 w-6 place-items-stretch flex items-center justify-center cursor-pointer rounded-full">
                    <i class="material-icons-outlined text-sm">check</i>
                </span>
                <div class="flex flex-col  w-full">
                    <span>Meeting customers</span>
                    <span class="flex flex-nowrap justify-between text-xs text-gray-500">
                        <span>H. Niaina</span>
                        <span>Yesterday</span>
                    </span>
                </div>
            </div>

            <div class="relative bg-gray-950 flex items-center flex-nowrap gap-2 hover:bg-gray-900 rounded p-3">
                <span class="absolute p-1 rounded border border-gray-900 right-1 -top-3 shadow px-2 bg-gray-700">03 jan 2024</span>
                <span class="bg-green-500 h-6 w-6 place-items-stretch flex items-center justify-center cursor-pointer rounded-full">
                    <i class="material-icons-outlined text-sm">check</i>
                </span>
                <div class="flex flex-col  w-full">
                    <span>Meeting customers</span>
                    <span class="flex flex-nowrap justify-between text-xs text-gray-500">
                        <span>H. Niaina</span>
                        <span>Yesterday</span>
                    </span>
                </div>
            </div>

            <div class="relative bg-gray-950 flex items-center flex-nowrap gap-2 hover:bg-gray-900 rounded p-3">
                <span class="absolute p-1 rounded border border-gray-900 right-1 -top-3 shadow px-2 bg-gray-700">03 jan 2024</span>
                <span class="bg-green-500 h-6 w-6 place-items-stretch flex items-center justify-center cursor-pointer rounded-full">
                    <i class="material-icons-outlined text-sm">check</i>
                </span>
                <div class="flex flex-col  w-full">
                    <span>Meeting customers</span>
                    <span class="flex flex-nowrap justify-between text-xs text-gray-500">
                        <span>H. Niaina</span>
                        <span>Yesterday</span>
                    </span>
                </div>
            </div>

            <div class="relative bg-gray-950 flex items-center flex-nowrap gap-2 hover:bg-gray-900 rounded p-3">
                <span class="absolute p-1 rounded border border-gray-900 right-1 -top-3 shadow px-2 bg-gray-700">03 jan 2024</span>
                <span class="bg-green-500 h-6 w-6 place-items-stretch flex items-center justify-center cursor-pointer rounded-full">
                    <i class="material-icons-outlined text-sm">check</i>
                </span>
                <div class="flex flex-col  w-full">
                    <span>Meeting customers</span>
                    <span class="flex flex-nowrap justify-between text-xs text-gray-500">
                        <span>H. Niaina</span>
                        <span>Yesterday</span>
                    </span>
                </div>
            </div>

            <div class="relative bg-gray-950 flex items-center flex-nowrap gap-2 hover:bg-gray-900 rounded p-3">
                <span class="absolute p-1 rounded border border-gray-900 right-1 -top-3 shadow px-2 bg-gray-700">03 jan 2024</span>
                <span class="bg-green-500 h-6 w-6 place-items-stretch flex items-center justify-center cursor-pointer rounded-full">
                    <i class="material-icons-outlined text-sm">check</i>
                </span>
                <div class="flex flex-col  w-full">
                    <span>Meeting customers</span>
                    <span class="flex flex-nowrap justify-between text-xs text-gray-500">
                        <span>H. Niaina</span>
                        <span>Yesterday</span>
                    </span>
                </div>
            </div>
        </div>
        <p class="text-xs text-slate-500 text-center">Last updated 12 minutes ago</p>
    </div>
</div>