<div class="card-event relative p-2 rounded-lg bg-gray-950">
    <!-- icon -->
    <div class="absolute -top-2 left-3 font-semibold flex flex-col items-center p-2 px-2 rounded shadow bg-green-600 cursor-pointer">
        <i class="material-icons-outlined">check_circle</i>
        <span class="text-xs">done</span>
    </div>
    <!-- new -->
    <span class="absolute right-4 -top-2 px-2 bg-yellow-400 text-gray-950 font-semibold shadow-md rounded-lg">New</span>

    <!-- content -->
    <div class="flex flex-col ml-12 px-2">
        <!-- task action -->
        <span class="flex items-center gap-1 text-base font-semibold">
            <i class="material-icons text-base">category</i>
            {{ categItem.name }}
        </span>
        <!-- event -->
        <span class="text-sm flex items-center gap-1 text-gray-500">
            <i class="material-icons text-base">info</i>
            {{ categItem.infos }}
        </span>
    </div>
</div>
