<div class="border-1 text-gray-300 text-sm mt-6">
    <!-- card resume -->
    <div class="card h-fit rounded-md w-full bg-gray-950 shadow-sm py-6">

      <!-- head -->
      <div class="">
        <!-- title -->
        <div class="px-3">
          <span class="text-lg font-semibold">Resume :</span>
        </div>

        <!-- menu items -->
        <div class="flex flex-nowrap p-3 gap-3 overflow-x-auto">
            @for (item of navItems(); track $index) {
                <div (click)="onActive(item)" class="{{ item.active ? 'text-gray-200 bg-gray-600': 'bg-gray-800' }} hover:text-gray-200 hover:bg-gray-700 cursor-pointer relative p-1 px-2 flex gap-1 items-center rounded-md shadow ">
                    @if (item.new) {
                        <span class="absolute -right-1 -top-1 w-3 h-3 rounded-full bg-indigo-700 shadow-sm shadow-indigo-700"></span>
                    }
                    <i class="material-icons text-base">{{ item.icon }}</i>
                    <span class="font-semibold">{{ item.label }}</span>
                </div>

            }
      </div>

      <!-- content -->
      <div class="p-3">
        @switch (itemActive()) {
          @case (navItems()[0]) {
            <app-event-items></app-event-items>
          }
          @case (navItems()[1]) {
            <app-task-items></app-task-items>
          }
          @case (navItems()[2]) {
            <app-categ-items></app-categ-items>
          }
          @case (navItems()[3]) {
            <app-place-items></app-place-items>
          }
          @case (navItems()[4]) {
            <app-user-items></app-user-items>
          }
        }
      </div>
    </div>
</div>
