@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'material-icons/iconfont/material-icons.css';
// $material-icons-font-path: '~material-icons/iconfont/';
// @import 'material-icons/iconfont/material-icons.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

